.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: derive(gray,100%);
    -fx-padding: 0px;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
.scroll-pane .scroll-bar:horizontal .decrement.button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}
.scroll-pane .scroll-bar:vertical .decrement.button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}
.scroll-pane .scroll-bar .increment-arrow,.scroll-pane .scroll-bar .decrement-arrow{
    -fx-padding: -2;
}
.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: derive(black,90%);
    -fx-background-radius: 0em;
    -fx-background-insets: 2,0,0;
    -fx-border-width: 3 10 3 10;
    -fx-border-radius: 100;
    -fx-border-color: derive(black,90%);
}