#tabpane{
    -fx-tab-max-height: 20em;
    -fx-tab-min-height: 20em;
    -fx-tab-max-width: 20em;
    -fx-tab-min-width: 20em;
    -fx-padding: 0 10 10 0;
}
.tab .tab-label{
    -fx-background-color: #000572;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-rotate: 360;
    /*-fx-font-size: 20px;*/


}
.tab:hover{
    -fx-cursor: hand;
}
.tab{
    -fx-background-color: #000572;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 10 95 10 95;
}
.tab:selected{
    -fx-background-color: #000572;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #04bdff;
}
.tab:focused{
    -fx-focus-color: transparent;
}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}
.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

#bsSave,#bsDelete,#bsSearch{
    -fx-text-fill: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
}
#bsSave:hover,#bsDelete:hover,#bsSearch:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #00a000;
    -fx-cursor: hand;
}

#dSave,#dDelete,#dSearch{
    -fx-text-fill: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
}
#dSave:hover,#dDelete:hover,#dSearch:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #00a000;
    -fx-cursor: hand;
}
#lSave,#lDelete,#lSearch{
    -fx-text-fill: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
}
#lSave:hover,#lDelete:hover,#lSearch:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #00a000;
    -fx-cursor: hand;
}