#filterTitlePane,#filterTitlePane3,#filterTitlePane2,#filterTitlePane1{
    -fx-background-color: #2b87e3;
}
#filterPane,#filterPane1,#filterPane3{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #000000;
}
.txtFillColor{
    -fx-text-fill: #000000;
}


#empRemove,#apply,#apply1,#apply2,#apply3,#cancel,#cancel3,#cancel1{
    -fx-text-fill: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    /*-fx-border-radius: 20;*/
}
#apply:hover,#apply2:hover,#apply3:hover,#apply1:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #057405;
    -fx-cursor: hand;
    /*-fx-border-radius: 20;*/
}
#empRemove:hover,#cancel:hover,#cancel3:hover,#cancel1:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #741107;
    -fx-cursor: hand;
    /*-fx-border-radius: 20;*/
}