#tabpane{
    -fx-tab-max-height: 20em;
    -fx-tab-min-height: 20em;
    -fx-tab-max-width: 20em;
    -fx-tab-min-width: 20em;
    -fx-padding: 0 0 0 0;

}
.tab .tab-label{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #fefffd;
    -fx-rotate: 90;
    -fx-font-size: 17px;



}
.tab:hover{
    -fx-cursor: hand;
}
.tab{
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 80 -10 140 0;

}
.tab:selected{
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 5 0 0 0;
    -fx-text-fill: #ffe85f;
    -fx-border-color: #3FE387;
}
.tab:focused{
    -fx-focus-color: transparent;
}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}
.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
