#tabpane{
    -fx-tab-max-height: 20em;
    -fx-tab-min-height: 20em;
    -fx-tab-max-width: 20em;
    -fx-tab-min-width: 20em;
    -fx-padding: 0 10 10 0;
}
.tab .tab-label{
    -fx-background-color: #000572;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-rotate: 360;
    /*-fx-font-style: bold;*/


}
#t1:hover,#t2:hover,#t3:hover,#t4:hover,#t5:hover,#t6:hover,#t7:hover{
    -fx-cursor: hand;

}

.tab:hover{
    -fx-cursor: hand;
}
.tab{
    -fx-background-color: #000572;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 10 70 10 70;
}
.tab:selected{
    -fx-background-color: #000572;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #04bdff;
}
.tab:focused{
    -fx-focus-color: transparent;
}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}
.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
#empReview,#empNew,#empUpdate,#empSummary,#advReview,#loanReview,#newAdv,#newLoan{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #000000;
}

/*CSS for buttons*/
#empRemove,#apply,#cancel,#apply2,#cancel2,#AECancelbtn,#AESavebtn,#AECancelbtn1,#AESavebtn1,#UECancelbtn,#UESavebtn,#AECancelbtn4,#AESavebtn4,#UECancelbtn1,#UESavebtn1,#clear,#empRemove,#apply,#cancel,#apply2,#cancel2,#AECancelbtn,#AESavebtn,#AECancelbtn1,#AESavebtn1,#UECancelbtn,#UESavebtn,#AECancelbtn4,#AESavebtn4,#UECancelbtn1,#UESavebtn1,#clear,#saveAttendance,#saveAttendance1,#leave_save,#short_save{
    -fx-text-fill: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    /*-fx-border-radius: 20;*/
}
#apply2:hover,#apply:hover,#AESavebtn:hover,#AESavebtn1:hover,#UESavebtn:hover,#AESavebtn4:hover,#UESavebtn1:hover,#saveAttendance:hover,#saveAttendance1:hover,#leave_save:hover,#short_save:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #057405;
    -fx-cursor: hand;
    /*-fx-border-radius: 20;*/
}
#empRemove:hover,#cancel:hover,#cancel2:hover,#AECancelbtn:hover,#AECancelbtn1:hover,#UECancelbtn:hover,#AECancelbtn4:hover,#UECancelbtn1:hover,#clear:hover{
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #c3e3dd;
    -fx-background-color: #741107;
    -fx-cursor: hand;
    /*-fx-border-radius: 20;*/
}
#empRreload:hover{
    -fx-cursor: hand;
}
/*End of the button css*/

#filterTitlePane,#filterTitlePane2{
    -fx-background-color: #2b87e3;
}
#filterPane,#filterPane2{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #000000;
}
.txtFillColor{
    -fx-text-fill: #000000;
}
.rep:hover{
    -fx-cursor: hand;
    -fx-text-fill: #ff1507;
}
.fotter{
    -fx-text-fill: white;
}
.fotter:hover{
    -fx-cursor: DISAPPEAR;
}